.grid{
    border: solid 1px;
    flex: 1;
    

  
}

.grid-container{
    display: flex;
    justify-content: center;
    max-width:800px;
    max-height: 800px;
    height: 800px;
    width: 800px;
 
   

    

    
    

    
    
}

.line-of-grids{
    display: flex;
    flex-direction: column;
 
    max-width: 800px;
    width: 800px;
    flex:1 1 0;
}
body{
    display: flex;
  
    flex-direction: column;
    background-color:lightpink;
    align-items: center;
}

.input{
    margin-top: 16px;
}


