.grid{
    border: solid ;
    flex: 1;
    

  
}
.grid-container{
    display: flex;
    justify-content: center;
    max-width:620px;
    max-height: 614px;
    height: 614px;
    width: 620px;
 
   

    

    
    

    
    
}

.line-of-grids{
    display: flex;
    flex-direction: column;
 
    max-width: 620px;
    width: 620px;
    flex:1 1 0;
}
body{
    display: flex;
  
    flex-direction: column;
    
    align-items: center;
}


