.grid{
    border: solid 1px;
    flex: 1;
    

  
}

.grid-container{
    display: flex;
    justify-content: center;
    max-width:780px;
    max-height: 780px;
    height: 780px;
    width: 780px;
 
   

    

    
    

    
    
}

.line-of-grids{
    display: flex;
    flex-direction: column;
 
    max-width: 780px;
    width: 780px;
    flex:1 1 0;
}
body{
    display: flex;
  
    flex-direction: column;
    background-color:lightpink;
    align-items: center;
}

.input{
    margin-top: 16px;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    width: 780px;
}
button{
    margin-bottom: 8px;
    border-radius: 8px;
    background-color: black;
    padding: 4px 8px;
    color: white;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#purple{
    background-color: purple;

}
#random{
    background-color: red;
}


